.DS_Store

build/
Build/
DerivedData/

Blocky/Blocky.xcodeproj/project.xcworkspace
Blocky/Blocky.xcodeproj/xcuserdata/

*.app
*.ipa

.build/
Packages/

BlockyTests/
BlockyUITests/
*.xctestrun
*.xcresult